@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$googleblue:#4285F4;
$googleyello:#F4B400;
$googlegreen:#0F9D58;
$grey-bg:#ddd;
$faint-grey:#f2f2f2;

// $googleblue:$googleyello;


body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: $googleblue;
    outline: 1px solid white;
    border-radius: 25px;
}

main{
    margin-bottom: 4rem;
}


.grid-userinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}



.usertbl-section{
    border: 1px solid transparent;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 60px 4px;
    width:40%;
    height: auto;
    overflow:auto;
    margin-right: 50px;
      
}

.usertbl-section::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
  }

.usertbl-section::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.usertbl-section::-webkit-scrollbar-corner {
    display: none;
 }

.usertbl-section::-webkit-scrollbar-thumb {
    background-color: $googleblue;
    outline: 1px solid white;
    border-radius: 25px;
}

#userDetails-card{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    
    background-color: $googleblue;
    border: 1px solid transparent;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 60px 4px;
    width:40%;
    height: auto;
    overflow: auto;
    #greet-message{
        // align-self: flex-start;
        color: white;
    }
    #avatar{
        vertical-align: middle;
        border:1px solid transparent;
        box-shadow: rgba(0, 0, 0, 0.30) 0px 2px 60px 1px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: white;
    }
    .details-below{
                background-color: white;
                border: 1px solid transparent;
                width: 95%;
                border-radius: 25px;
                box-shadow: rgba(0, 0, 0, 0.20) 0px 2px 60px 1px;
                height:auto;
                margin-top: 1rem;
                margin-bottom: 1rem;
                font-size: 1.1rem;
                padding-bottom: 20px;
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    grid-template-areas: "left right"; 
}

.grid-l{
    grid-area:left;
}
.grid-r{
    grid-area:right;
}

.grid-email{
   overflow-y: auto;
   &::-webkit-scrollbar{
       display: none;
   }
}


// .grid:nth-child(even){
//     background-color: $googlegreen;
// }

.user-tbl{

    table-layout: auto;
    width:100%;
    border-collapse: collapse;
    border-style: hidden;
    // font-weight:bold;
   
    td{
        border: 1px solid $grey-bg;
        padding: 8px;
        
        &:last-child{
            text-align: center;

            &:hover{
                color: red;
            }
        }

        
    }

    th{
        border: 1px solid $grey-bg;
        padding: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: $googleblue;
        color: white;
        letter-spacing: 1px;
        
    }
    
    tr:nth-child(even){
        background-color: $faint-grey;
    }

    tr:hover {
        background-color: $grey-bg;
        cursor: pointer;
    }

    /////////////////////////////////////

    /* top-left border-radius */
    tr:first-child th:first-child {
        border-top-left-radius: 10px;
    }
  
  /* top-right border-radius */
    tr:first-child th:last-child {
        border-top-right-radius: 10px;
    }
  
  /* bottom-left border-radius */
    tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }
  
  /* bottom-right border-radius */
    tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }


}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid $googleblue; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

///////////////////////////////////////////////////////

h4{
    margin-left: 2rem;
    margin-top:1rem;
    margin-bottom: .5px;
    color: $googleblue;
    display: flex;
    flex-direction: column;

    span{
        color: black;
    }
}

.emp{   
        margin-left: 4rem;
}

////////////////////////////////////////////////////////


@media screen and (max-width:1200px) {
    
}

@media screen and (max-width:992px) {
    .usertbl-section{
        margin-right: 0px;
        width: 85%;
        // height: 500px;
    }
    #userDetails-card{
        margin-top: 100px;
        width: 85%;
        
    }
}


@media screen and (max-width:768px) {
    #userDetails-card{
        margin-top: 100px;
        margin-right: 0px;
        width: 85%;
    }
}
@media screen and (max-width:600px) {
    #userDetails-card{
        margin-top: 100px;
        margin-right: 0px;
        width: 90%;
        h1{
            font-size: 1.4rem;
        }
        .details-below{
            width: 95%;
            margin-bottom: 20px;
            font-size: 1rem;
        }
    }
    .grid{
        grid-template-columns:1fr;
        grid-template-areas:"left" "right";
    }
    
    header{
        h1{
            font-size: 1.5rem;
        }
    }
}
